@CHARSET "UTF-8";

body {
	padding: 0px;
	margin: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 0.05em;
	font-size: 12px;
}

#page-container {
	padding: 10px 20px 10px 20px;
	width: 920px;
	margin: 0 auto;
	background-color: #eee;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
    box-shadow: 2px 2px 2px #bbb;
}

h1, h2, h3, h4 {
	color: #369;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
	text-decoration: none;
	color: #c70;
}

a:hover {
	text-decoration: underline;
}

#header {
	background-color: #369;
	width: 920px;
	padding: 10px 20px 10px 20px;
	margin: 0 auto;
	color: white;
	box-shadow: 2px 2px 2px #bbb;
}

#header h1 {
	color: white;
	margin-bottom: 0.125em;
	margin-top: 0.125em;
	font-variant: small-caps;
	font-size: 3em;
	font-weight: bold;
}

#header a {
	color: white;
	font-weight: bold;
	font-size: 12px;
}

#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav ul li {
	display: inline;
	padding: 0;
}

#nav ul li::after {
	content: ' |';
}

#nav ul li:last-child::after {
	content: '';
}

ul#event-list {
	list-style: none;
	padding: 0;
}

ul#event-list li span.event-title {
	font-size: 18px;
	letter-spacing: initial;
}

ul#event-list li span.event-title::after {
	content: ' ';
}

ul#event-list li span.event-city::after {
	content: ' – ';
}

ul#event-list li div.event-details {
	display: none;
	padding-left: 20px;
}

ul#event-list li.active {
	background-color: #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	margin-bottom: 1.0em;
	margin-top: 1.0em;
}

ul#event-list li.active .event-title, ul#event-list li.active .event-city, ul#event-list li.active .event-date  {
	/* Hide these because they are also shown (better ) in the fragment */
	display: none;
}

ul#event-list li div.event-details h2.event-title {
	display: block;
}

ul#event-list li div.event-details ul.event-organizer-list {
	list-style: none;
	padding: 0;
}

ul#event-list li div.event-details ul.event-organizer-list li {
	display: inline;
	padding: 0;
}

ul#event-list li div.event-details ul.event-organizer-list li::after {
	content: ',';
}

ul#event-list li div.event-details ul.event-organizer-list li:last-child::after {
	content: '';
}

form { 
	display: table;
	width: 100%;
}
form p { 
	display: table-row; 
}
form p label { 
	display: table-cell; 
	vertical-align: middle;
	padding-top: 1em;
}
form p input, form p textarea { 
	display: table-cell; 
	margin-left: 2em;
	margin-top: 1em;
}

form fieldset.action {
	text-align: right;
}

form fieldset.action legend {
	text-align: left;
}

#event-details-fieldset input {
	width: 247px;
}

#event-details-fieldset textarea {
	width: 400px;
	height: 124px;
}

#event-organizers-fieldset select {
	display: none;
}

#user-drag-drop-container div {
	float: left;
	width: 50%;
	text-align: center;
}

#user-drag-drop-container ul {
	list-style: none;
	background-color: #d9e6f2;
    width: 75%;
    margin: auto;
    padding: 1em 0 1em 0;
    border-radius: 3px;
    min-height: 10em;
}

#user-drag-drop-container li {
	background-color: #fff;
    line-height: 2em;
    text-align: center;
    margin: 0.5em auto 0.5em auto;
    width: 50%;
    border-radius: 3px;
    cursor: move;
}

img.user-image {
	display: block;
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
	border-radius: 10px;
}